body {
  background-color: #01304b;
  color: #eee;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 125px;
  font-family: Arial, Helvetica, sans-serif;
}

.rainbow-text {
  background-image: linear-gradient(to left,hotpink, salmon, moccasin, turquoise, mediumpurple);
  -webkit-background-clip: text;
   background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  color: #c3b802;
}

li {
  padding-bottom: 10px;
}

img {
  width: 1200px;
  height: 700px;
  object-fit: contain;
}